.dropdown_enter {
  .menu {
    animation: dropdown-anime 250ms ease-in-out forwards;
  }
}

.dropdown_exit {
  .menu {
    animation: dropdown-anime 250ms ease-in-out forwards reverse;
  }
}

.dropdown {
  z-index: 1050;
  .menu {
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    background: #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    width: max-content;
    border-radius: 4px;
    min-width: 125px;
  }
  .item {
    width: 100%;
    padding: 7px 10px;
    background-color: transparent;
    border: none;
    font-family: inherit;
    text-align: start;
    cursor: pointer;
    &:hover {
      background-color: #e9ecef;
    }
  }
}

@keyframes dropdown-anime {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
