.chat_wrapper {
  position: relative;
  background-image: url("../../../assets/images/chat-bg.png");
  background-color: var(--conversation-bg);
  background-repeat: repeat;
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat_section {
  min-height: calc(100% - 140px);
  .chat_skeleton {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.reply_enter {
  animation: from-bottom 250ms ease-in-out forwards;
}

.reply_exit {
  animation: from-bottom 250ms ease-in-out forwards reverse;
}

.reply_container {
  position: fixed;
  right: 15px;
  bottom: 75px;
  width: calc(100% - 390px);
  background-color: #ffffff;
  padding: 15px;
  border-radius: 4px 4px 0px 0px;
  .reply_card {
    position: relative;
    background-color: #edf6f0;
    padding: 15px 25px 15px 15px;
    border-radius: 4px;
    &::before {
      content: "";
      position: absolute;
      width: 4px;
      height: 100%;
      inset: 0px auto auto 0px;
      background-color: #4eac6e;
      border-radius: 4px 0px 0px 4px;
    }
    span {
      color: #495057;
      font-size: 14px;
    }
    .close {
      position: absolute;
      inset: 5px 5px auto auto;
      color: #797c8c;
      font-size: 20px;
      cursor: pointer;
    }
  }
}

.profile_sidebar {
  width: 350px;
  padding: 15px;
}

.typing[typing] {
  position: sticky;
  bottom: 85px;
  display: flex;
  justify-content: center;
  &::before {
    content: attr(typing);
    color: #4eac6e;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes from-bottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .chat_wrapper {
    position: absolute;
    left: 0px;
    padding: 0px;
  }
  .reply_container {
    width: 100%;
    right: 0px;
  }
  .profile_sidebar {
    width: 280px;
  }
}
