.loader {
  display: flex;
  margin: 0px auto;
  width: 35px;
  height: 35px;
  border: 5px solid #4eac6e;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
