button {
  position: relative;
  overflow: hidden;
  .btn-ripple {
    position: absolute;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: ripple 0.5s linear forwards;
    opacity: 0.1;
    z-index: 0;
  }
  label {
    position: relative;
    z-index: 1;
    margin: 0px;
    cursor: pointer;
  }
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 750px;
    height: 750px;
  }
}
