.toast-container[data-position^="top"] {
  .toast {
    margin-bottom: 1rem;
  }
}

.toast-container[data-position^="bottom"] {
  .toast {
    margin-top: 1rem;
  }
}

.toast {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 320px;
  color: white;
  padding: 15px 25px 15px 10px;
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.15));
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  animation: var(--animation-show) 0.3s linear forwards;
  &:is(.hide) {
    animation: var(--animation-hide) 0.3s linear forwards;
  }
  .icon {
    display: flex;
    align-items: center;
    i {
      font-size: 28px;
    }
  }
  span {
    font-size: 16px;
  }
  button {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    i {
      font-weight: normal;
      font-size: 20px;
    }
    &:is(.hide) {
      display: none;
    }
  }
  .progress {
    position: absolute;
    height: 5px;
    bottom: 0px;
    left: 0px;
    animation: rc_trackProgress var(--progress-animation) linear forwards;
    overflow: hidden;
    border-radius: 0px 0px 0px 4px;
  }
}

.toast[data-theme="coloured"][data-type="success"] {
  background-color: var(--toast-success);
}

.toast[data-theme="coloured"][data-type="error"] {
  background-color: var(--toast-error);
}

.toast[data-theme="coloured"][data-type="warning"] {
  background-color: var(--toast-warning);
}

.toast[data-theme="coloured"][data-type="info"] {
  background-color: var(--toast-info);
}

.toast[data-theme="light"] {
  background-color: var(--toast-theme-light);
  span {
    color: var(--toast-text-black);
  }
  button {
    color: var(--toast-text-black);
  }
}

.toast[data-theme="dark"] {
  background-color: var(--toast-theme-dark);
  span {
    color: var(--toast-text-white);
  }
  button {
    color: var(--toast-text-white);
  }
}

.toast[data-theme="coloured"] {
  span {
    color: var(--toast-text-white);
  }
  button {
    color: var(--toast-text-white);
  }
}

.toast[data-theme="coloured"][data-type] {
  .icon {
    i {
      color: var(--toast-text-white);
    }
  }
}

.toast[data-type="success"] {
  .icon {
    i {
      color: var(--toast-success);
    }
  }
  .progress {
    background-color: var(--toast-success);
  }
}

.toast[data-type="error"] {
  .icon {
    i {
      color: var(--toast-error);
    }
  }
  .progress {
    background-color: var(--toast-error);
  }
}

.toast[data-type="warning"] {
  .icon {
    i {
      color: var(--toast-warning);
    }
  }
  .progress {
    background-color: var(--toast-warning);
  }
}

.toast[data-type="info"] {
  .icon {
    i {
      color: var(--toast-info);
    }
  }
  .progress {
    background-color: var(--toast-info);
  }
}

@media only screen and (max-width: 450px) {
  .toast {
    width: 100%;
  }
}

@keyframes rc_slideInTop {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes rc_slideOutTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}

@keyframes rc_slideInBottom {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes rc_slideOutBottom {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(100vh);
  }
}

@keyframes rc_slideInLeft {
  from {
    transform: translateX(-100vh);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes rc_slideOutLeft {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100vh);
  }
}

@keyframes rc_slideInRight {
  from {
    transform: translateX(100vh);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes rc_slideOutRight {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100vh);
  }
}

@keyframes rc_trackProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
