.contacts_list {
  .title {
    margin: 10px 15px;
    b {
      color: #4eac6e;
    }
  }
  .contact_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    cursor: pointer;
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        color: #5a636c;
        font-size: 14px;
      }
    }
  }
}

.contact_option {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  i {
    color: #90929e;
    font-size: 16px;
  }
}
