.rc-drawer {
  position: fixed;
  background-color: #ffffff;
  z-index: 1050;
}

.rc-drawer[data-position="left"],
.rc-drawer[data-position="right"] {
  top: 0px;
  min-width: 250px;
  height: 100%;
}

.rc-drawer[data-position="top"],
.rc-drawer[data-position="bottom"] {
  left: 0px;
  width: 100%;
  min-height: 250px;
}

.rc-drawer[data-position="left"] {
  left: 0px;
  animation: rc_slideOutLeft 0.3s linear forwards;
  &:is(.show) {
    animation: rc_slideInLeft 0.3s linear forwards;
  }
}

.rc-drawer[data-position="right"] {
  right: 0px;
  animation: rc_slideOutRight 0.3s linear forwards;
  &:is(.show) {
    animation: rc_slideInRight 0.3s linear forwards;
  }
}

.rc-drawer[data-position="top"] {
  top: 0px;
  animation: rc_slideOutTop 0.3s linear forwards;
  &:is(.show) {
    animation: rc_slideInTop 0.3s linear forwards;
  }
}

.rc-drawer[data-position="bottom"] {
  bottom: 0px;
  animation: rc_slideOutBottom 0.3s linear forwards;
  &:is(.show) {
    animation: rc_slideInBottom 0.3s linear forwards;
  }
}
