.form-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  position: relative;
  label {
    color: #495057;
  }
  .password-input {
    position: relative;
    input[type="password"] {
      background-color: #fff;
      border-radius: 4px;
      padding: 10px 35px 10px 15px;
      outline: none;
      width: 100%;
      border: 1px solid;
      font-family: "Poppins", sans-serif;
      transition: all 0.2s;
      &::placeholder {
        color: #797c8c;
        font-size: 14px;
      }
    }
    input[aria-invalid="true"] {
      border-color: #f90500;
    }
    input[aria-invalid="false"] {
      border-color: #d8d6de;
    }
    i {
      position: absolute;
      color: #92909c;
      font-size: 22px;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      cursor: pointer;
    }
  }
  span {
    color: #f90500;
    font-size: 14px;
  }
}
