.chat_header {
  position: sticky;
  top: 0px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  padding: 0px 15px;
  z-index: 1;
  .user_info {
    display: flex;
    align-items: center;
    gap: 15px;
    .go_back {
      background-color: #4eac6e;
      width: 25px;
      height: 25px;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      display: none;
      i {
        color: white;
        font-size: 24px;
      }
    }
    .user_name {
      display: flex;
      flex-direction: column;
      b {
        font-size: 17px;
        color: var(--chat-name-clr);
      }
      span {
        font-size: 14px;
        color: var(--status-text-clr);
      }
    }
  }
  .chat_icons {
    display: flex;
    gap: 20px;
    i {
      font-size: 24px;
      color: var(--chat-icon);
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 768px) {
  .chat_header {
    &:is(.show) {
      transform: translateX(0px);
    }
    .user_info {
      .go_back {
        display: flex;
      }
    }
    .chat_icons {
      gap: 15px;
      i {
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          display: none;
        }
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }
}
