.sidebar {
  position: fixed;
  inset: 0px auto auto 0px;
  width: 75px;
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #2e2e2e;
  padding: 15px 0px;
  z-index: 9;
  &::-webkit-scrollbar {
    display: none;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    color: #868a92;
    font-size: 32px;
    color: #4eac6e;
  }
  .nav_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 65px) 1fr 65px;
    height: calc(100% - 72px);
    width: 100%;
    .nav_item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 65px;
      &:is(.theme) {
        height: 100%;
        align-items: flex-end;
        .nav_icon {
          font-size: 32px;
        }
      }
      .nav_icon {
        color: #868a92;
        font-size: 28px;
        cursor: pointer;
        &:is(.active) {
          color: #4eac6e;
        }
      }
    }
    .tab_indicator {
      position: absolute;
      background-color: #4eac6e;
      border: 2.5px solid #4eac6e;
      border-radius: 0px 10px 10px 0px;
      transition: height, top;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;
    }
  }
}

.avatar_option {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  i {
    color: #90929e;
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    inset: auto auto 0px 0px;
    width: 100%;
    height: 65px;
    overflow-y: hidden;
    padding: 0px 0px;
    .logo {
      display: none;
    }
    .nav_wrapper {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: auto;
      .nav_item {
        &:is(.profile) {
          display: none;
        }
        &:is(.theme) {
          height: 100%;
          align-items: center;
          .nav_icon {
            margin-top: 5px;
          }
        }
      }
      .tab_indicator {
        border-radius: 0px 0px 10px 10px;
        transition: width, left;
      }
    }
  }
}
